<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <nav>
        <a href="/about_me">About me ?</a><br/>
        <a href="/blog">Blog</a><br/>
    </nav>

    <h2>공사중. . .</h2>

    {% for post in recent_posts %}
        <div>
            <h5>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }} by {{ post.author.username }}
                </a>
            </h5>
            <p>{{ post.get_content_markdown | truncatewords_html:30 | safe }}</p>
        </div>
    {% endfor %}
</body>
</html>